{% extends "base.html.twig" %}


        {% block body %}
            <!-- container -->
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Gérer mes contrats</li>
                </ol>

                <!-- Article main content -->

                <header class="page-header">
                    <h2>Liste de mes contrats</h2>
                </header>

                <a class="btn btn-action btn-lg" href="{{ path("addContrat") }}" role="button">Ajouter un contrat</a>
            {% if contrats is empty %}
                <p>Vous avez ajouter aucun contrat pour le moment</p>
                {% endif %}
                {% for contrat in contrats %}

                    <article class="col-md-8 maincontent">
                    <div class="jumbotron top-space">
                        <div class="top-margin">
                            <label>Nom du contrat : </label>
                            <p>{{ contrat.intitule }} </p>
                        </div>
                        <div class="top-margin">
                            <label>Daite de création: </label>
                            <p>{{ contrat.dateCreation |date("d/m/Y") }} </p>
                        </div>
                        <div class="top-margin">
                            <label>Destinataire du contrat: </label>
                            <p> nom  </p>
                        </div>
                        <div class="top-margin">
                            <label>Type de contrat </label>
                            <p>{{ contrat.type }}</p>
                        </div>
                        <p><a class="btn btn-action btn-lg" role="button">Historique</a>                 <a class="btn btn-action btn-lg"  role="button" href="{{ asset('uploads/contrat/'~contrat.url) }}"target="_blank">Visualiser(PDF)</a>          <a class="btn btn-action btn-lg" role="button">Modifier</a></p>
                    </div>
                </article>
                {% endfor %}
                <!-- /Article -->
            </div>	<!-- /container -->





        {% endblock %}