{% extends "/base.html.twig" %}
{% block body %}

    <div class="container">
        <ol class="breadcrumb">
            <  <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('findAllContrat') }}">Gérer mes contrats</a></li>
            <li class="active">Rechercher un contrat</li>
        </ol>
        <div class="row">
            <!-- Article main content -->
            <header class="page-header">
                <h2>Rechercher : {{ search }}</h2>
            </header>
    {%  if contrats is empty %}
        <p> Il n'y pas de contrat à ce nom</p>
    {% else %}
        <article class="col-md-9 maincontent">
                    {% for contrat in contrats %}
                        <article >
                            <div class="jumbotron top-space">
                                <div class="top-margin">
                                    <label>Nom du contrat : </label>
                                    <p>{{ contrat.intitule }} </p>
                                </div>
                                <div class="top-margin">
                                    <label>Daite de création: </label>
                                    <p>{{ contrat.dateCreation |date("d/m/Y") }} </p>
                                </div>
                                <div class="top-margin">
                                    <label>Destinataire du contrat: </label>
                                    <p> nom  </p>
                                </div>
                                <div class="top-margin">
                                    <label>Type de contrat </label>
                                    <p>{{ contrat.type }}</p>
                                </div>
                                <p><a class="btn btn-action btn-lg"  role="button" href="{{ asset('uploads/contrat/'~contrat.url) }}"target="_blank">Visualiser(PDF)</a>          <a class="btn btn-action btn-lg" href="{{ path('updateContrat',{ 'contratID': contrat.id }) }}" role="button">Modifier</a></p>
                            </div>
                        </article>
                    {% endfor %}
                </article>

    {% endif %}
        </div>
    </div>
{% endblock %}